# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/

# npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directories
.DS_Store
*.swp
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Testing
coverage/
.nyc_output/
testem.json
karma.conf.js
mocha.opts
jest.config.js
_tests_/
_mocks_/